*.sqlite*
/node_modules
/public/storage
/vendor
/.env
/.env.backup
/.env.local
/.phpunit.result.cache
/.vagrant
Homestead.yaml
Homestead.json

# Ignoring IDE and Editor configurations
/.idea
/.vscode

# Ignoring OS-specific files
.DS_Store
Thumbs.db

# Ignoring compiled files and cache
/storage/*.key
/storage/*.log
/storage/app/public
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/logs

# Ignoring Laravel specific directories
/bootstrap/cache
